UnisoftERS/Service References/UnisoftWebService/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:62546/Service.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:62546/Service.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService_GetMaintenanceDueDate_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMaintenanceDueDate" />
  </wsdl:message>
  <wsdl:message name="IService_GetMaintenanceDueDate_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMaintenanceDueDateResponse" />
  </wsdl:message>
  <wsdl:message name="IService_ReportError_InputMessage">
    <wsdl:part name="parameters" element="tns:ReportError" />
  </wsdl:message>
  <wsdl:message name="IService_ReportError_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReportErrorResponse" />
  </wsdl:message>
  <wsdl:message name="IService_ReportVB6RemoteError_InputMessage">
    <wsdl:part name="parameters" element="tns:ReportVB6RemoteError" />
  </wsdl:message>
  <wsdl:message name="IService_ReportVB6RemoteError_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReportVB6RemoteErrorResponse" />
  </wsdl:message>
  <wsdl:portType name="IService">
    <wsdl:operation name="GetMaintenanceDueDate">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetMaintenanceDueDate" message="tns:IService_GetMaintenanceDueDate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetMaintenanceDueDateResponse" message="tns:IService_GetMaintenanceDueDate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReportError">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/ReportError" message="tns:IService_ReportError_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/ReportErrorResponse" message="tns:IService_ReportError_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReportVB6RemoteError">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/ReportVB6RemoteError" message="tns:IService_ReportVB6RemoteError_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/ReportVB6RemoteErrorResponse" message="tns:IService_ReportVB6RemoteError_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService" type="tns:IService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetMaintenanceDueDate">
      <soap:operation soapAction="http://tempuri.org/IService/GetMaintenanceDueDate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReportError">
      <soap:operation soapAction="http://tempuri.org/IService/ReportError" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReportVB6RemoteError">
      <soap:operation soapAction="http://tempuri.org/IService/ReportVB6RemoteError" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService" binding="tns:BasicHttpBinding_IService">
      <soap:address location="http://localhost:62546/Service.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>