UnisoftERS/Service References/UnisoftWebService/Service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="GetMaintenanceDueDate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="hospitalId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMaintenanceDueDateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetMaintenanceDueDateResult" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReportError">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="errorReference" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="errorNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="errorMessage" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="errorDescription" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="errorStackTrace" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="errorData" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="productId" type="xs:int" />
        <xs:element minOccurs="0" name="productVersion" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="stationId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="procedureId" type="xs:int" />
        <xs:element minOccurs="0" name="patientId" type="xs:int" />
        <xs:element minOccurs="0" name="caseNoteNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="hospitalId" type="xs:int" />
        <xs:element minOccurs="0" name="operatingHospitalId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReportErrorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ReportErrorResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReportVB6RemoteError">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="productVersion" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="hospitalId" type="xs:int" />
        <xs:element minOccurs="0" name="moduleName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="errorCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="errorDescription" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="patientNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="episodeNo" type="xs:int" />
        <xs:element minOccurs="0" name="isNedError" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReportVB6RemoteErrorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ReportVB6RemoteErrorResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>